body, html
{
	background-color: lightskyblue;
	height: 100%;
}

.Label
{
	font-size: 5.5rem;
}
.Button:hover
{
	background-color: red;
}

.FullPage
{
	width: 100%;
	height: 100%;
}

.NoGrabHighlight
{
	background-color: white;
}

.InRangeHighlight
{
	background-color: lightblue;
}

.GrabbedHighlight
{
	background-color: blue;
}
